<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>passport Auth</title>
</head>
<body>
<h2>signUp Form !</h2>
<form action="/singup" method="post">
    <input type="text" placeholder="UserName" name="username">
    <input type="text" placeholder="Email Id" name="emailid">
    <input type="password" placeholder="Password" name="password">
    <input type="submit">
</form>
<br><br>
<h2>Login Form !</h2>
<form action="/singin">
    <input type="text" placeholder="Email Id" name="emailid">
    <input type="password" placeholder="Password" name="password">
    <input type="submit">
</form>


</body>
</html>